# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries

## ***Some of the popular languages that Data Scientists use are:***
1. python
2. R
3. Julia
4. C++

## ***Some of the commonly used libraries used by Data Scientists include:***
1. Pandas
2. NumPy
3. Matplotlib 
4. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Rstudio|
|Spyder|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [2]:
m = 200
h = m/60
print(h)

3.3333333333333335

## Author

Ana Saballos